### Ref - [Link](https://pbpython.com/pandas_transform.html)

In [3]:
import pandas as pd 
df = pd.read_excel("sales_transactions.xlsx", engine='openpyxl')
#print(df.head())

#print(df.groupby('order')['ext price'].sum())

## Normal Groupby
<img src="https://pbpython.com/images/groupby-example.png" style="width:800px;height:500px">

In [4]:
## First Approach - Merging 
order_total = df.groupby('order')['ext price'].sum().rename("Order_Total").reset_index()
#print(order_total)
df_1 = df.merge(order_total)
df_1['Percent_of_Order'] = df_1['ext price'] / df_1['Order_Total']
df_1.head()

,account,name,order,sku,quantity,unit price,ext price,Order_Total,Percent_of_Order
0,383080,Will LLC,10001,B1-20000,7,33.69,235.83,576.12,0.409342
1,383080,Will LLC,10001,S1-27722,11,21.12,232.32,576.12,0.403249
2,383080,Will LLC,10001,B1-86481,3,35.99,107.97,576.12,0.187409
3,412290,Jerde-Hilpert,10005,S1-06532,48,55.82,2679.36,8185.49,0.327330
4,412290,Jerde-Hilpert,10005,S1-82801,21,13.62,286.02,8185.49,0.034942

## Groupby - Transform  
<img src="https://pbpython.com/images/transform-example.png" style="width:800px;height:500px">

In [6]:
## Second Approach - Transform 
df['total_order'] = df.groupby('order')['ext price'].transform('sum')
df['percent'] = df['ext price'] / df['total_order']
df.head()

,account,name,order,sku,quantity,unit price,ext price,total_order,percent
0,383080,Will LLC,10001,B1-20000,7,33.69,235.83,576.12,0.409342
1,383080,Will LLC,10001,S1-27722,11,21.12,232.32,576.12,0.403249
2,383080,Will LLC,10001,B1-86481,3,35.99,107.97,576.12,0.187409
3,412290,Jerde-Hilpert,10005,S1-06532,48,55.82,2679.36,8185.49,0.327330
4,412290,Jerde-Hilpert,10005,S1-82801,21,13.62,286.02,8185.49,0.034942