In [ ]:
# Start writing code here...
import pandas as pd

In [ ]:
staff = pd.DataFrame([
{'Name': 'U Mya', 'Role': 'Head', 'Loc':'Ygn'},
{'Name':'Daw Hla', 'Role': 'CEO', 'Loc': 'Mdy'},
{'Name': "Mg Mg", 'Role': 'Teacher', 'Loc': 'POL'}
]
)

student = pd.DataFrame([
    {'Name': 'Hla Hla', 'School': 'Business','Loc':'Ygn'},
    {'Name': 'Mg Mg', 'School': 'Law','Loc':'POL'}, 
    {'Name': 'Pai', 'School': 'Engineering', 'Loc': 'Mdy'}
])


staff.set_index('Name', inplace=True)
student.set_index('Name', inplace=True)
print(staff.head())
print(student.head())

            Role  Loc
Name
U Mya       Head  Ygn
Daw Hla      CEO  Mdy
Mg Mg    Teacher  POL
              School  Loc
Name
Hla Hla     Business  Ygn
Mg Mg            Law  POL
Pai      Engineering  Mdy

In [ ]:
pd.merge(staff, student, how='outer', left_index=True, right_index=True)

            Role       School
Name
Daw Hla      CEO          NaN
Hla Hla      NaN     Business
Mg Mg    Teacher          Law
Pai          NaN  Engineering
U Mya       Head          NaN

In [ ]:
pd.merge(staff, student, how='inner', left_index=True, right_index=True)

          Role School
Name
Mg Mg  Teacher    Law

In [ ]:
pd.merge(staff, student, how='right', left_index=True, right_index=True)

            Role       School
Name
Hla Hla      NaN     Business
Mg Mg    Teacher          Law
Pai          NaN  Engineering

In [ ]:
staff_df = staff.reset_index()
student_df = student.reset_index()

pd.merge(student_df,  staff_df, how='inner', on=['Name','Loc'])

    Name School  Loc     Role
0  Mg Mg    Law  POL  Teacher

In [ ]:
frame = [staff, student]
pd.concat(frame , axis = 1)

            Role       School
U Mya       Head          NaN
Daw Hla      CEO          NaN
Mg Mg    Teacher          Law
Hla Hla      NaN     Business
Pai          NaN  Engineering

In [ ]:
print("Hello World")